<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20496241540-oe9jtlecnkerdgbag5fidpdkuev2v49m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20496241540-oe9jtlecnkerdgbag5fidpdkuev2v49m</string>
	<key>API_KEY</key>
	<string>AIzaSyAsO7DidShhzoJK9m-T1rwxOT3rd3Hpl6c</string>
	<key>GCM_SENDER_ID</key>
	<string>20496241540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Hussein.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftuiproject-44625</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftuiproject-44625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20496241540:ios:1fcd90124078afe0adc3d1</string>
</dict>
</plist>